<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.medfirst.com.project" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:name="tw.medfirst.com.project.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="tw.medfirst.com.medfirstproject" />
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmIntentService" />
        <activity
            android:name="tw.medfirst.com.project.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >

        </activity>
        <activity
            android:name="tw.medfirst.com.project.GuidanceActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="tw.medfirst.com.project.LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tw.medfirst.com.project.HistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="tw.medfirst.com.project.ProductActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >

        </activity>
    </application>

</manifest>